<ArticleCount><%= @items.count %></ArticleCount>
<Articles>
<% @items.each do |item| %>
<item>
<Title><![CDATA[<%=  item.title %>]]></Title> 
<Description><![CDATA[<%= item.description %>]]></Description>
<PicUrl><![CDATA[<%= item.picurl %>]]></PicUrl>
<Url><![CDATA[<%= item.url %>]]></Url>
</item>
<% end %>
</Articles>